<div class="d-flex">
    <div class="card col-md-2 allUsers">
        {{!-- All Users will be append here with ajax request --}}
    </div>
    <div>
        <div class="card ms-2">
            <div class="row row-0 bg-primary text-white rounded">
                <div class="col-3 userProfilePhoto d-flex mt-2" style="height:60px;width: 1500px; margin-left:20px">
                    {{!-- User Profile Photo & Name --}}
                    <b>Click on the user tho chat</b>
                </div>
                <div class="messageDiv" style="background-image: url(w.jpeg); height:500px;">
                </div>
            </div>
        </div>
    </div>