<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <div class="container bodyDiv">
                        {{> getRequests}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>