<!DOCTYPE html>
<html>

<body>
    <canvas id="myChart" style="width:100%;max-width:1300px;"></canvas>

    <script>
        var savedPostArray = [{{ savedPostArray }}];
        var createPostArray = [{{ createPostArray }}];
        var createOnArray = [{{ createOnArray }}];
        var totalPostsavedByUser = [{{totalPostsavedByUser}}]
        new Chart("myChart", {
            type: "line",
            data: {
                labels: createOnArray,
                datasets: [{
                    label : "how many people saved Your post" ,
                    data: savedPostArray,
                    borderColor: "green",
                    fill: false
                }, {
                    label : "how many post you created" ,
                    data: createPostArray,
                    borderColor: "blue",
                    fill: false
                },{
                    label : "how many post you saved" ,
                    data: totalPostsavedByUser,
                    borderColor: "orange",
                    fill: false
                }]
            },
            options: {
                legend: { display: true },
            }
        });
    </script>

            {{!-- Chats Model --}}
        <div class="modal modal-blur fade" id="modal-chat" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chats</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            {{> chats}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>