<!DOCTYPE html>
<html>

<body>
    <canvas id="myChart" style="width:100%;max-width:1300px; margin-left:200px"></canvas>

    <script>
        var savedPostArray = [{{ savedPostArray }}];
        var createPostArray = [{{ createPostArray }}];
        var createOnArray = [{{ createOnArray }}];
        new Chart("myChart", {
            type: "line",
            data: {
                labels: createOnArray,
                datasets: [{
                    label : "how many saved Your post" ,
                    data: savedPostArray,
                    borderColor: "green",
                    fill: false
                }, {
                    label : "how many you created post" ,
                    data: createPostArray,
                    borderColor: "blue",
                    fill: false
                }]
            },
            options: {
                legend: { display: true },
            }
        });
    </script>
</body>

</html>